<?xml version="1.0"?>

<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find virtual_scan)/worlds/mp01.world"/>
  </include>

<!--
	<node name="spawn_rbt_0" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot0.urdf -urdf -model robot_0" />
	<node name="spawn_rbt_1" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot1.urdf -urdf -model robot_1" />
	<node name="spawn_rbt_2" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot2.urdf -urdf -model robot_2" />
	<node name="spawn_rbt_3" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot3.urdf -urdf -model robot_3" />
	<node name="spawn_rbt_4" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot4.urdf -urdf -model robot_4" />
	<node name="spawn_rbt_5" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot5.urdf -urdf -model robot_5" />
	<node name="spawn_rbt_6" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot6.urdf -urdf -model robot_6" />
	<node name="spawn_rbt_7" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot7.urdf -urdf -model robot_7" />
	<node name="spawn_rbt_8" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot8.urdf -urdf -model robot_8" />
	<node name="spawn_rbt_9" pkg="gazebo_ros" type="spawn_model" args="-file $(find srbot_description)/urdf/gazebo9/srobot9.urdf -urdf -model robot_9" />
-->

</launch>
