<?xml version="1.0"?>

<robot name="dsy_robot">
  
  <!-- box -->
  <link name="my_box">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>

  <!-- disable gravity -->
  <gazebo reference="my_box">
    <gravity>false</gravity>
  </gazebo>



</robot>
